# ifs.cfg:
#
# This file contains configuration parameters for the IFS server.
# All numbers are in decimal.
#

# Debug settings

LogTypes = Normal
LogComponents = All

# Normal configuration
FTPRoot = c:\ifs\ftp
CopyDiskRoot = c:\ifs\copydisk
BootRoot = c:\ifs\boot
InterfaceType = RAW
InterfaceName = Ethernet 2
